# **Adda Boost**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
from sklearn.datasets import make_classification

In [15]:
X_df= pd.DataFrame(X,columns=['feature_1','feature_2','feature_3','feature_4'])

In [16]:
print(X_df)

     feature_1  feature_2  feature_3  feature_4
0     0.635803   0.499001  -0.340806  -0.557850
1    -0.122452   0.728888   1.482229  -0.203019
2     2.570042   1.475792  -2.307023  -2.051254
3     0.249848  -0.095029  -0.633803  -0.109663
4    -2.666711  -1.784019   1.959859   2.223511
..         ...        ...        ...        ...
995   0.824660  -0.020922  -1.589307  -0.472119
996   0.487163   0.762892   0.392306  -0.570641
997   1.550222   1.006738  -1.191434  -1.281157
998   1.216406   1.109767  -0.385727  -1.125631
999   1.894105   0.586546  -2.560704  -1.323188

[1000 rows x 4 columns]

In [33]:
y_df = pd.DataFrame(y,columns=['target'])

In [18]:
df = pd.concat([X_df,y_df],axis=1)

In [19]:
df

     feature_1  feature_2  feature_3  feature_4  target
0     0.635803   0.499001  -0.340806  -0.557850       1
1    -0.122452   0.728888   1.482229  -0.203019       1
2     2.570042   1.475792  -2.307023  -2.051254       1
3     0.249848  -0.095029  -0.633803  -0.109663       0
4    -2.666711  -1.784019   1.959859   2.223511       0
..         ...        ...        ...        ...     ...
995   0.824660  -0.020922  -1.589307  -0.472119       0
996   0.487163   0.762892   0.392306  -0.570641       1
997   1.550222   1.006738  -1.191434  -1.281157       1
998   1.216406   1.109767  -0.385727  -1.125631       1
999   1.894105   0.586546  -2.560704  -1.323188       0

[1000 rows x 5 columns]

In [20]:
print(df)

     feature_1  feature_2  feature_3  feature_4  target
0     0.635803   0.499001  -0.340806  -0.557850       1
1    -0.122452   0.728888   1.482229  -0.203019       1
2     2.570042   1.475792  -2.307023  -2.051254       1
3     0.249848  -0.095029  -0.633803  -0.109663       0
4    -2.666711  -1.784019   1.959859   2.223511       0
..         ...        ...        ...        ...     ...
995   0.824660  -0.020922  -1.589307  -0.472119       0
996   0.487163   0.762892   0.392306  -0.570641       1
997   1.550222   1.006738  -1.191434  -1.281157       1
998   1.216406   1.109767  -0.385727  -1.125631       1
999   1.894105   0.586546  -2.560704  -1.323188       0

[1000 rows x 5 columns]

In [21]:
from sklearn.model_selection import train_test_split

In [24]:
X_train,X_test,y_train,y_test = train_test_split(X_df,y_df,test_size=0.1,random_state=41)

In [25]:
from sklearn.ensemble import AdaBoostClassifier

In [26]:
clf = AdaBoostClassifier(n_estimators=100, random_state=0)

In [27]:
clf = clf.fit(X_train,y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [28]:
clf = clf.fit(X_test,y_test)

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [29]:
y_train_pred = clf.predict(X_train)
y_test_pred = clf.predict(X_test)

In [30]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [31]:
print("Accuracy:",accuracy_score(y_test,y_test_pred))

Accuracy: 1.0